asgiref==3.5.2
autopep8==1.7.0
distlib==0.3.6
Django==4.1.4
django-browser-reload==1.6.0
django-ckeditor==6.5.1
django-js-asset==2.0.0
filelock==3.8.0
keyboard==0.13.5
Pillow==9.4.0
platformdirs==2.5.2
projeto==1.0.0
pycodestyle==2.9.1
pygame==2.1.2
source==1.2.0
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.7
virtualenv==20.16.5
virtualenvwrapper-win==1.2.7
