{% extends 'base.html' %}

{%block titulo %}
<title>Cadastro de Produtos</title>
{%endblock%}


{% block 'body' %}
<div class="container">
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'add_produto' %}" method="POST" ; enctype="multipart/form-data">{% csrf_token %}
        <br>
        <h5><label>Imagens:</label></h5>
        <input class="form-control" type="file" name="imagens" multiple>
        <br>
        <br>

        <h5><label>Nome:</label></h5>
        <input class="form-control" type="text" name="nome">
        <br>
        <br>

        <h5><label>Selecione a categoria do produto:</label></h5>
        <select class="form-control" name="categoria">
            {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.titulo}}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <h5><label>Estoque inicial:</label></h5>
        <input class="form-control" type="number" name="quantidade">
        <br>
        <br>

        <h5><label>Preço de compra:</label></h5>
        <input class="form-control" type="number" name="preco_compra">
        <br>
        <br>

        <h5><label>Preço de venda:</label></h5>
        <input class="form-control" type="number" name="preco_venda">
        <br>
        <br>

        <input class="btn btn-success" style="background-color: #F5730D; border: none; margin-bottom: 10px;" type="submit" value="Enviar">

    </form>
</div>
{% endblock %}


