{% extends 'base.html' %}

{%block titulo %}
<title>Cadastro de Vendeores</title>
{%endblock%}


{% block 'body' %}
<div class="container">
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'cadastrar_vendedor' %}" method="POST">{% csrf_token %}
        <br>

        <h5><label>Nome</label></h5>
        <input type="text" placeholder="Digite seu Nome..." name="nome" class="form-control">
        <br>
        <h5><label>Sobrenome</label></h5>
        <input type="text" placeholder="Digite seu Sobrenome..." name="sobrenome" class="form-control">
        <br>
        <h5><label>E-mail</label></h5>
        <input type="email" placeholder="Digite seu E-mail..." name="email" class="form-control">
        <br>
        <h5><label>Senha</label></h5>
        <input type="password" placeholder="Digite sua senha..." name="senha" class="form-control">
        <br>
        <input type="submit" class="btn btn-success"  style="background-color: #F5730D; border:none;">
    </form>

</div>
{% endblock %}