{%load static %}

{%block titulo %}
<title>Login</title>
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="pt-br">

{% block 'body' %}
<div id="login-box">
    <div class="left">
        <img src="{% static 'img/bannerlogin.jpg' %}" width= "100%" height="100%" >
    </div>
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    <div class="container right">
        <form action="{% url 'login' %}" method="POST" class="from-group">{% csrf_token %}
            <h1>Login</h1><br>
            <label style="color: white;">E-mail</label><br>
            <input type="email" placeholder="Digite seu E-mail..." name="email" class="form-control">
            <br><br>
            <label style="color: white;">Senha</label><br>
            <input type="password" placeholder="Digite sua Senha..." name="senha" class="form-control">
            <br>
            <input type="submit" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}

</html>