{% extends 'base.html' %}

{%block titulo %}
<title>Vendedores Cadastrados</title>
{%endblock%}

{% block 'body' %}
<div style="margin: 0 20px;">
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Último login</th>
                <th scope="col">Excluir Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
            <tr>
                <th>{{vendedor.first_name}}</th>
                <td>{{vendedor.last_name}}</td>
                <td>{{vendedor.email}}</td>
                <td>
                    {% if not vendedor.last_login %}
                        Primeiro acesso
                    {% else %}
                        {{vendedor.last_login}}
                    {% endif %}
                </td>
                <td><a href="{% url 'excluir_usuario' vendedor.id %}" class="btn btn-danger">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}